{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur 'Queenchama'!{% endblock %}

{% block body %}

<p></p>
<p></p>

<div class="div1">
	
<h1>A propos...</h1>
<p>QUEENCHAMA est une application de gestion de la scolarité dédiée au service des gestionnaires et comptables d'établissements scolaires (universités, lycées, collèges, etc..).</br>
 Sa valeur est très pratique car chaque personne qui utilise l'application peut travailler depuis n'importe quel poste(ordinateur, téléphone) étant chez lui ou dans son lieu de service, ceci grâce au système d'authentification qui a été mis en place pour que chaque utilisateur ait un compte personnel lui permettant d’effectuer tous ses travaux.</br>
 Le but de cette application est tout d'abord d’assurer une plus grande longévité des données ce qui garantit la sécurité des données qui peuvent être retracées même après une vingtaine d'années et plus. Ensuite, elle permet l'ajout, la suppression et la modification faciles d'un étudiant.  </p>

</div>

<p></p>
<p></p>

<div class="div2">
	
<h1>Aide!</h1>
<p>L'utilisation de ce logiciel est des plus simples. Il y'a trois onglets où sont effectuées les principales actions (dans le cas où ces actions se sont déroulées avec succès, l'utilisateur est redirigé automatiquement sur la page listant tous les étudiants inscrits): </br>
-"Ajouter un étudiant" : Cet onglet présente un formulaire ou devront être entrées les informations concernant l'étudiant qu'on souhaite enregistrer notamment son nom, prénom, matricule, âge, numéro de téléphone, niveau, sa filière, la somme versée ainsi que la raison de ce versement. A la fin, il n'y a plus qu'à appuyer sur le bouton 'Ajouter l'étudiant'. </br>
-"Modifier un étudiant" : Ici, il est possible de changer les informations d'un étudiant préalablement enregistré. Il suffit juste d'appuyer sur le bouton 'Modifier' présent sur la ligne de l'étudiant concerné.</br>
-"Supprimer un étudiant" : Ici, il est possible de supprimer un étudiant préalablement enregistré ainsi que toutes les informations le concernant. Cette opération est irréversible. Il suffit juste d'appuyer sur le bouton 'Supprimer' présent sur la ligne de l'étudiant concerné.</br> 
   Sous l'onglet "Liste des étudiants", on peut voir tous les étudiants inscrits ainsi que leur date d'enregistrement.</p>

</div>

<p></p>
<p></p>

<div class="div3">
<h1>Copyright!</h1>	
<p>Application conçue et réalisée par <strong>TALLING DJAFA Channel Borris </strong></br>
Me contacter:</br>
*par téléphone: +237653667143</br>
*par e-mail: djafachannel@gmail.com</br>
<h4>Copyright@2020 Tous droits réservés</h4>
</p>

</div>

<?php echo ?><link rel="stylesheet" href="../css/mo.css"><?php ?>

{% endblock %}
