body{
	background-repeat: no-repeat;
	background-image: url("../img/ma.jpg");
	background-position: top center;
	background-attachment: fixed;
	-webkit-background-size: cover;
    backface-visibility: 14px
}
.div1{
	border:1px groove skyblue;
	border-color: white;
	opacity: 83%;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: black;
}
.div2{
	border:1px groove skyblue;
	border-color: white;
	opacity: 83%;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: black;
}
.div3{
	border:1px groove skyblue;
	border-color: white;
	opacity: 83%;
	border-radius: 10px 10px 10px 10px;
	color: white;
	background-color: black;
}