<body>
<center>
<h1>BIENVENUE SUR QUEENCHAMA</h1>

<p><h3><strong>Selectionnez une des options ci-dessous</strong></h3></p>

</center>

<a href="{{path('app_login')}}" class="a1"><strong>Se connecter</strong></a>
<a href="{{path('security_inscription')}}" class="a2"><strong>S'inscrire</strong></a>

<?php
echo ?><link rel="stylesheet" href="../css/mi.css">
<?php
?>

</body>