.go4{
	background-image: url("../images/fond7.png");
	background-repeat: no-repeat;
	background-attachment: fixed;

}
header{
	border: 2px groove rgb(0,0,0);
	background-color:  rgb(49,112,180);
	width: 1050px;
}
a{
    border-radius: 250px 250px 250px 250px;
	display: inline-block;
	width: 250px;
	padding:10px;
	background-color: skyblue;
	text-decoration: none;
	margin:4px;
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 4px rgba(0,120,120,0.15);

}
a:hover{
transform: scale(0.88);

}
.go5{
	border: 2px solid rgb(244,192,168);
	border-radius: 7px;
	padding:8px;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 400px;
	opacity: 90%;
}
footer{
     background-color: rgb(0,0,0);
	border: 1px solid Black; 
	color: white;
	text-align: center;
	width: 1050px;
	margin-top: 250px;
}